EXP_DIR=$(readlink -f .)

WORKLOAD_MANAGER=slurm # none or slurm
MACHINE=discover       # default or discover (default is a Linux workstation, no modules loaded)
                       # TODO(Guillaume) add Hera and Orion
MPIRUN=mpirun          #TODO could probably get the info from somewhere else

# parameters used by SLURM
JOB_NAME=test
JOB_NPES=360
JOB_TIME=1:00:00
JOB_ACCT=g0613

# experiment start/stop times
EXP_START_TIME=20151201Z12
EXP_END_TIME=20151231Z12
FCST_LEN=24

# various directory locations
SCRATCH_DIR=${EXP_DIR}/WRK
SOCA_BUNDLE_DIR=/home/gvernier/nobackup/soca/soca-bundle
SOCA_BIN_DIR=/home/gvernier/nobackup/soca/soca-bundle/build-gnu/bin

# model/soca configuration to be used
MODEL=geos                         # options: mom6 or geos
                                   # TODO add EMC's MOM6-CICE
MOM_EXE=${SOCA_BIN_DIR}/mom6.x     # only used when model is mom6
model_res=1deg                     # other options for now are 05deg and 025deg
MODEL_CONFIG=/discover/nobackup/gvernier/soca/runs/test/soca-config/jcsda/mom6-geos/${model_res}
MODEL_DATA=/discover/nobackup/tsluka/jedi/soca.data/mom6sis2_global/${model_res}

# initial conditions for model
# TODO 1 year spin-up so we can start doing science!
MOM_IC=/discover/nobackup/tsluka/DATA/ic/soda_3.3.1_20151130.nc

# geos specific configuration
# TODO move somewhere else
GEOS_RC=/home/gvernier/nobackup/geos-santha/geos-scratch
GEOS_GCMRUN=${GEOS_RC}/gcm_run.j
GEOS_IC=/home/gvernier/nobackup/geos-santha/soca-cpld/util/rst_atm_20151201_120000.tar

# forcing (unused when model is geos)
FORC_ATM="cfsr"
FORC_MEAN_FILE=/discover/nobackup/tsluka/DATA/fluxes/cfsr/%Y/%Y%m%d/cfsr.%Y%m%d.'#var#'.nc
FORC_VAR=DLWRF.sfc,DSWRF.sfc,PRATE,SLP,TMP.2m,SPFH.2m,UGRD.10m,VGRD.10m

# observations
OBS_IODA=/discover/nobackup/tsluka/DATA/obs.ioda
OBS_ADT=adt.nesdis
OBS_INSITU=insitu.hgodas
OBS_SST=sst.hgodas
