EXP_DIR=$(readlink -f .)

# parameters used by SLURM
WORKLOAD_MANAGER=none # none or SLURM
MACHINE=default # discover or default (default is a Linux workstation, no modules loaded)
JOB_NAME=exp1
JOB_NODES=5
JOB_TIME=1:00:00
JOB_ACCT=s2127

# experiment start/stop times
EXP_START_TIME=20151201Z12
EXP_END_TIME=20151231Z12
FCST_LEN=24

# various directory locations
SCRATCH_DIR=${EXP_DIR}/WRK
SOCA_BUNDLE_DIR=/home/gvernier/sandboxes/soca/soca-bundle
SOCA_BIN_DIR=/home/gvernier/sandboxes/soca/soca-bundle/build-soca-fv3/bin/

MOM_EXE=${SOCA_BIN_DIR}/mom6.x

# model/soca configuration to be used
model_res=1deg   # other options for now are 05deg and 025deg
MODEL_CONFIG=${SOCA_BUNDLE_DIR}/soca-config/discover/mom6sis2_global/${model_res}
MODEL_DATA=/home/gvernier/sandboxes/soca/mom6sis2_global/${model_res}
#/discover/nobackup/tsluka/jedi/soca.data/mom6sis2_global/${model_res}

# initial conditions for model
MOM_IC=/home/gvernier/sandboxes/soca/DATA/ic/soda_3.3.1_20151130.nc
#/discover/nobackup/tsluka/DATA/ic/soda_3.3.1_20151130.nc

# forcing
FORC_ATM="cfsr"
FORC_MEAN_FILE=/home/gvernier/sandboxes/soca/DATA/fluxes/cfsr/%Y/%Y%m%d/cfsr.%Y%m%d.'#var#'.nc
#/discover/nobackup/tsluka/DATA/fluxes/cfsr/%Y/%Y%m%d/cfsr.%Y%m%d.'#var#'.nc
FORC_VAR=DLWRF.sfc,DSWRF.sfc,PRATE,SLP,TMP.2m,SPFH.2m,UGRD.10m,VGRD.10m

# observations
OBS_IODA=/home/gvernier/sandboxes/soca/DATA/obs.ioda
#/discover/nobackup/tsluka/DATA/obs.ioda
OBS_ADT=adt.nesdis
OBS_INSITU=insitu.hgodas
OBS_SST=sst.hgodas
